.signup-main {
  height: 90vh;
  background-color: #e8e7f6;
  color: #000;
  display: flex;
}

.signup-img {
  height: 90vh;
  mix-blend-mode: darken;
  margin-top: -3rem;
}

.css-1999axt-MuiAvatar-root {
  background-color: #007cf6 !important;
}

@media only screen and (max-width: 1025px) {
  .signup-img {
    height: 80vh;
    margin-top: 0;
  }
  .css-nzinn5-MuiContainer-root {
    max-width: 350px !important;
  }
}

@media only screen and (max-width: 769px) {
  .signup-img {
    visibility: hidden;
  }
}
