.home-main {
  min-height: 100vh;
  background-color: #e8e7f6;
  color: #000;
  display: flex;
}

.filters {
  background: #f1f4f5;
  width: 13.1%;
}

.filters .css-1nrlq1o-MuiFormControl-root {
  min-width: -webkit-fill-available;
}

.filters .css-dmmspl-MuiFormGroup-root {
  margin: 0 1rem;
}

.filters .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-size: 14px !important;
  font-weight: bold;
}

.filters .css-1hbvpl3-MuiSvgIcon-root {
  font-size: 16px !important;
}

.filters .css-11zohuh-MuiSvgIcon-root {
  width: unset;
  height: unset;
}
.filters .css-i4bv87-MuiSvgIcon-root {
  font-size: 18px;
}

@media only screen and (max-width: 769px) {
  .filters {
    visibility: hidden;
  }
}
