.logo img {
  height: 80px;
  width: 80px;
  mix-blend-mode: darken;
}

.logo {
  display: contents;
  cursor: pointer;
}

.navbar {
  background-color: #f1f4f5 !important;
  color: #000 !important;
  padding: 0 !important;
}

hr {
  margin: 0 !important;
}

.css-1t6c9ts {
  justify-content: end;
  padding-right: 1rem;
}

.slide-right {
  transition: transform 0.5s;
  transform: translateX(-450px);
}

.logo:hover .slide-right {
  opacity: 1;
  transform: translateX(-400px);
}

.text {
  opacity: 0;
}

.navbar .css-r6ewbb-MuiToolbar-root {
  justify-content: space-between;
}
